.hero-section {
    background: url('https://via.placeholder.com/1600x800') no-repeat center center/cover;
    color: white;
    padding: 100px 0;
    text-align: center;
}

.hero-text {
    font-size: 3rem;
    font-weight: bold;
}

.intro-text {
    font-size: 1.2rem;
    max-width: 700px;
    margin: 0 auto;
}

.btn-custom {
    background-color: black;
    color: white;
    padding: 10px 20px;
    font-size: 1.1rem;
    border-radius: 5px;
}

.btn-custom:hover {
    background-color: rgb(243, 168, 5);
}
#hd:hover{
   
    transform:scale(1.1);
    transition: 1s;
}